/*Import Google fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display&family=Poppins:wght@300;400;700&display=swap');

/* Body text design */
.bold-text {
    font-weight: 800;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

/* Header section */
*{
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    max-width: 100%;
}


.logo {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 4%;
}

/* Navigation section */
a:visited, a:link nav, a:link {
    color: white;
}

a {
    text-decoration: none;
}

.navigation {
    display: block;
    margin: 0 auto;
}

.nav-menu {
    display: block;
    width: 100%;
    padding-bottom: 5%;
}

.nav-menu a {
    display: block;
    padding: 1%;
    text-transform: uppercase;
    font-family: 'Lato', serif;
    margin: 0 auto;
    text-align: center;
}

.nav-menu li {
    list-style: none;
}

.nav-link a {
    text-align: center;
}

/* Hero section */
.hero-text h1 {
    font-size: 2.2em;
}

.hero-text {
    padding: 15% 10% 4%;
}

.hero-text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding-top: 5%;
}

/* Specifying design layouts for hero section */

#main-hero, #booking-hero, #menu-hero {
    height: 400px;
}

#main-hero {
    background-image: url(images/hero-image.jpg);
}

#menu-hero {
    background-image: url(images/menu-hero.jpg);
}

#booking-hero {
    background-image: url(images/reserve-hero.jpg);
}


/* Design layouts for parallax image strips */
.image-strip {
    height: 400px;
}

.image-strip { /*Concept taken from W3Schools */
    object-fit: cover;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#menu-strip {
    background-image: url(images/menu-strip.jpg);
}

#reserve-strip {
    background-image: url(images/reserve-strip.jpg);
}

#food-strip {
    background-image: url(images/perfect-pair.jpg);
}

#reserve-now {
    background-image: url(images/reserve-now.jpg);
}

#events-strip {
    background-image: url(images/events-strip.jpg);
    height: auto;
    padding-bottom: 10%;
}

#events-strip li {
    text-align: center;
    font-size: 0.9em;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.image-text {
    padding: 1% 6%;
    text-align: center;
}

.image-text h2 {
    padding: 30% 6% 2%;
}

.image-text p {
    padding: 2% 6% 10%;
}

/* Design layout for regular body text strips */
.info-strip {
    padding: 10% 5%;
    text-align: center;
}

.info-strip h2 {
    padding: 10% 5%;
}

.body-text p, .image-text p {
    padding: 6% 6% 10%;
}

.body-text {
    padding: 15% 9%;
    text-align: center;
    line-height: 30px;
}

/* Styling page buttons */
.buttons {
    margin: 4% auto;
    padding: 2% 6%;
    background-color: black;
}

/* Styling contact section at bottom of homepage */
#contact-info {
    padding: 14% 8%;
    text-align: center;
}

#contact-info h2 {
    padding: 10% 8% 2%;
}

#map-box {
    width: 100%;
}

#map {
    width: 100%;
}

/* Styling tables on menu page*/
.table-box {
    overflow: scroll; /*to allow menu to scroll in overflow */ 
}

table {
    padding: 4% 10%;
    margin: 0 auto;
    table-layout: fixed;
}

td, th {
    width: 100px;
    text-align: center;
}

#food-list td{
    min-width: 250px;
    padding: 2%;
}

li {
    text-align: left;
    list-style: disc;
}

/* Styling form on reservation page */
label, select, #submit {
    font-size: 1em;
}

input {
    width: 100%;
    background-color:#5d2e46;
    color: white;
    padding: 2%;
}

#booking-form {
    padding: 12% 10%;
    text-align: center;
}

.form-field {
    padding: 2% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    padding-top: 15%;
}

select label {
    display: block;
}

select {
    background-color:#5d2e46;
    color: white;
}

.last-field {
    padding: 2% 1%;
}

#submit {
    width: auto;
    padding: 4% 5%;
    font-size: 0.8em;
    background-color: black;
}

/* Styling footer section */
footer {
    font-size: 0.8em;
    text-align: center;
    padding: 5% 5%;
}

/* Layout for screens between 480px and 1200px */
@media screen and (min-width:481px) and (max-width:1200px) {
    .logo {
        width: 50%;
    }

    .nav-menu {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-menu a {
        font-size: 2em;
        display: flex;
    }

    .hero-text h1{
        font-size: 3.5em;
    }

    .hero-text p {
        font-size: 1.5em;
    }

    #main-hero, #booking-hero, #menu-hero {
        height: 600px;
    }

    .body-text {
        padding: 4%;
    }

    .body-text h2{
        font-size: 3em;
        line-height: 60px;
    }

    .body-text p {
        font-size: 2em;
        line-height: 40px;
    }

    .buttons {
        font-size: 2em;
        padding: 2% 5%;
    }

    .image-strip {
        padding: 5%;
        height: 600px;
    }

    .image-strip h2 {
        padding-top: 12%;
        font-size: 3em;
    }

    .image-strip p {
        font-size: 1.8em;
    }

    #contact-info {
        padding: 7% 4%;
        text-align: center;
    }
    
    #contact-info h2 {
        padding: 5% 4% 1%;
        font-size: 3em;
    }

    #contact-info p {
        font-size: 1.8em;
    }

    footer {
        font-size: 0.8em;
    }

    h2 {
        font-size: 3em;
    }

    p {
        font-size: 2em;
        padding: 2%;
    }

    #wine-list td, th {
        font-size: 2.2em;
        min-width: 100px;
    }

    #food-list td, th {
        font-size: 2.2em;
        min-width: 550px;
    }

    #events-strip li {
        font-size: 1.8em;
    }

    label, select {
        font-size: 2em;
    }

    #submit {
        font-size: 1.3em;
        margin-top: 3%;
    }

    
}

/* Layout for screens larger than 1200px */
@media screen and (min-width:1201px) {


    .navigation {
        display: flex;
    }
    
    .nav-menu {
        display: flex;
        gap: 10%;
        padding: 3% 6%;
        justify-content: right;
    }

    .nav-bar {
        display: flex;
    }
    
    .nav-menu a {
        display: flex;
        padding: 1%;
        text-transform: uppercase;
        font-family: 'Lato', serif;
    }

    .logo {
        display: inline-block;
        width: 30%;
        padding: 3% 8%;
    }
    
    .hero-text {
        padding-top: 8%;
    }

    .hero-text h1{
        font-size: 5em;
    }

    #menu-hero .hero-text, #booking-hero .hero-text {
        padding-top: 15%;
    }

    .image-strip h1{
        font-size: 5em;
    }

    #main-hero, #booking-hero, #menu-hero {
        height: 700px;
    }

    .body-text {
        padding: 5%;
    }

    .info-strip {
        padding: 2%;
    }

    .info-strip h2 {
        font-size: 3em;
        padding: 4%;
    }

    #wine-list th, #wine-list td {
        font-size: 1.5em;
        width: 300px;
        line-height: 40px;
    }

    #food-list th, #food-list td {
        font-size: 1.5em;
        width: 400px;
        padding: 1%;
    }

    .table-box {
        display: flex;
        justify-content: center;
    }

    .body-text h2 {
        font-size: 2.4em;
        padding: 2%;
    }

    .body-text p{
        font-size: 1.4em;
        padding: 2% 15% 4%;
    }

    .buttons {
        font-size: 1.3em;
        padding: 1% 3%;
    }

    .image-strip {
        height: 500px;
    }

    .image-strip h2 {
        padding-top: 10%;
        font-size: 2.2em;
    }

    .image-strip p {
        padding-bottom: 5%;
        font-size: 1.5em;
    }

    #events-strip li {
        font-size: 1.4em;
        list-style: disc;
        list-style-position: inside;
    }

    #booking-form {
        padding: 2%;
    }

    #booking-form h2 {
        padding: 5% 5% 2%;
        font-size: 2.4em;
    }

    p {
        font-size: 1.2em;
    }

    form {
        padding: 5%;
    }

    .form-field {
        padding: 1% 15%;
    }

    label, select {
        font-size: 1.4em;
        padding: 1%;
    }

    #submit {
        padding: 1% 3%;
        font-size: 1.2em;
    }

    #contact-info {
        padding: 1%;
    }

    #contact-info h2 {
        padding-top: 4%;
    }

    #map-box {
        padding: 2% 0;
    }

    footer {
        padding: 1% 1% 2%;
        font-size: 1em;
    }

    
}

/* Layout for screens larger than 1600px */
@media screen and (min-width:1601px) {


    .navigation {
        display: flex;
    }
    
    .nav-menu {
        display: flex;
        gap: 10%;
        padding: 3% 6%;
        justify-content: right;
    }

    .nav-bar {
        display: flex;
    }
    
    .nav-menu a {
        display: flex;
        padding: 1%;
        text-transform: uppercase;
        font-family: 'Lato', serif;
        font-size: 1.9em;
    }

    .logo {
        display: inline-block;
        width: 30%;
        padding: 3% 8%;
    }
    
    .hero-text {
        padding-right: 15%;
    }


    #menu-hero .hero-text, #booking-hero .hero-text {
        padding-top: 10%;
    }

    .image-strip h1{
        font-size: 5em;
    }

    #main-hero, #booking-hero, #menu-hero {
        height: 700px;
    }

    .body-text {
        padding: 5%;
    }

    .info-strip {
        padding: 2%;
    }

    .info-strip h2 {
        font-size: 5em;
        padding: 4%;
    }

    #wine-list th, #wine-list td {
        font-size: 2em;
        width: 300px;
        line-height: 50px;
    }

    #food-list th, #food-list td {
        font-size: 2em;
        width: 500px;
        padding: 1%;
    }

    .body-text h2 {
        font-size: 4em;
        padding: 2%;
    }

    .body-text p{
        font-size: 2em;
        padding: 2% 15% 4%;
        line-height: 50px;
    }

    .buttons {
        font-size: 2em;
        padding: 1% 3%;
    }

    .image-strip {
        height: 700px;
    }

    .image-strip h2 {
        padding-top: 10%;
        font-size: 4em;
    }

    .image-strip p {
        padding: 2% 0 5%;
        font-size: 2em;
        line-height: 50px;
    }

    #events-strip li {
        font-size: 1.8em;
        list-style: disc;
        list-style-position: inside;
    }

    #booking-form {
        padding: 2%;
    }

    #booking-form h2 {
        padding: 5% 5% 2%;
        font-size: 4em;
    }

    #booking-form p {
        font-size: 1.6em;
    }


    label, select {
        font-size: 1.8em;
        padding: 1%;
    }

    #submit {
        padding: 1% 3%;
        font-size: 1.6em;
    }

    #contact-info {
        padding: 1%;
    }

    #contact-info h2 {
        padding-top: 4%;
        font-size: 3em;
    }

    #contact-info p {
        font-size: 1.8em;
    }

    #map-box {
        padding: 2% 0;
    }

    
}

